nav {
    display: inline-block;
    justify-content: space-between;
    align-items: center;
    background-color: #b84c2c;
    color: #fcfcfc;
    padding: 10px;
    font-family: 'consolas', monospace;
    border-radius: 5px;
}

nav a {
    text-decoration: none;
    color: #fcfcfc;
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: 0.1s ease-in-out;
}

nav a:hover {
    background-color: #446DF6;
}